@import "./base/modern-normalize.scss";
@import "./base/all.scss";
@import "./components/header.scss";
@import "./components/footer.scss";

textarea {
  display: block;
  margin: 20px auto;
  width: 863px;
  height: 100px;
}

.keyboard {
  width: 863px;
  margin: 0 auto;
  background-color: rgb(235, 235, 235);
  display: block;
  border: 1px solid black;
  padding: 5px;
  // content: "";
  display: flex;
  flex-wrap: wrap;
  // grid-template-columns: repeat(15, 60px);
  // grid-template-rows: repeat(3, 60px);
}

.k-key {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  margin: 3px;
  padding: 5px;
  // float: left;
  cursor: pointer;
  transition: 0.3s;
}

.k-key:nth-child(14) {
  width: 115px;
}

.k-key:nth-child(15) {
  width: 60px;
}

.k-key:nth-child(30) {
  width: 100px;
}

.k-key:nth-child(42) {
  width: 120px;
}

.k-key:nth-child(43) {
  width: 110px;
}

.k-key:nth-child(55) {
  width: 110px;
}

.k-key:nth-child(59) {
  width: 395px;
}

.k-key:hover {
  background-color: rgba(161, 50, 50, 0.5);
}

.clicked {
  border-radius: 25px;
  background-color: rgba(161, 50, 50, 0.5);
}

.active {
  background-color: rgba(161, 50, 50, 0.5);
}

.border-colored {
  border: 1px solid rgba(161, 50, 50, 0.8);
}
